body {
    margin-left: 200px;
    margin-right: 200px;
    font-family: Raleway, Roboto;
}

.main-heading {
    
    font-size: 23px;
    font-weight: 300;
    text-transform: full-width;
    letter-spacing: 15px;
    margin-bottom: 0;
}

.background-strip {
    background-color: rgb(228, 206, 204);
    height: 60px;
    margin-top: 0;
    padding-left: 15px ;
    padding-top: 30px;
    display: grid;
    grid-template-columns:27px 1fr ;
} 

#emojis {
    font-size: 20px;
    display: inline;
}

#professional-titles {
    padding-top: 6px;
}

span {
    font-weight: bold;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: blue; */
    height: 200px;
    font-size: 20px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;
}

.box1, .box2, .box3 {
    width: 250px;
    
    background-color:rgb(249, 249, 249);
    border-style:hidden;
    border-width: 10px;
    border-color: rgb(243, 243, 243);
    box-shadow: 1px 1px 1px rgba(rgb(20, 14, 14));
    display: flex;
    align-items: center;
    text-align: center;

    
}



