.main-heading {
    font-family: Raleway, Roboto;
    font-size: 23px;
    font-weight: 300;
    text-transform: full-width;
    letter-spacing: 15px;
    margin-bottom: 0;
}

.background-strip {
    background-color: rgb(228, 206, 204);
    height: 60px;
    margin-top: 0;
}